#all ignore
/*
#/.*
#/.**
*.swp

# not ignore
!/.bash_logout
!/.bashrc
!/.gitconfig
!/.gnupg
!/.gnupg/gpg-agent.conf
!/.gnupg/gpg.conf
!/.p10k.zsh
!/.profile
!/.vimrc
!/.zshrc

!/setup.sh

!/README.md
!/LICENSE
!.gitignore
!.gitkeep
